/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body {
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    height: calc(100vh - 170px);
    overflow-y: auto;
    margin: 30px auto;
}

/* BUTTONS */
.btn {
    background-color: #000;
    border: none;
    color: #cecece;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.fa-shield {
    color: #67d669;
}

.pause * {
    margin-left: 5px;
}

.fa-table-cells {
    margin-right: 5px;
}
/* MAIN */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.img {
    background-image: url("https://picsum.photos/seed/picsum/250/150");
    background-size: cover;
    border-radius: 10px;
    position: relative;
    width: calc(100% / 6 - 5px);
    height: 10vw;
}

.name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #374146;
    color: #fff;
}

.fa-microphone-slash {
    color: #cc3c33;
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #1b1b1b;
    padding: 0 10px;
}

footer i {
    font-size: 18px;
    margin-bottom: 5px;
}

.col-left, .col-right {
    width: 25%;
}

.col-middle {
    justify-content: space-evenly;
    display: flex;
    width: 50%;
}

.col-right {
    text-align: right;
}

.btn-black {
    background-color: #1b1b1b;
}

.btn-red {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
}

.green {
    color: #67d669;
}

.fa-circle-pause {
    margin-right: 5px;
}