/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body {
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: calc(1080px / 6);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

/* BUTTONS */
.btn {
    background-color: #000;
    border: none;
    color: #cecece;
    border-radius: 5px;
    padding: 5px;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.recording {
    margin-left: 10px;
}

.fa-shield {
    color: #67d669;
}

.pause * {
    margin-left: 5px;
}

.view {
    margin-right: 10px;
}

.fa-table-cells {
    margin-right: 5px;
}
/* MAIN */
.img {
    background-image: url("https://picsum.photos/seed/picsum/300/200");
    border-radius: 10px;
    position: relative;
}

.name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #374146;
}

.fa-microphone-slash {
    color: #cc3c33;
}

/* FOOTER */
